/*sub2_mx820.css*/
/*body{
	background-color: rgba(51, 102, 51, 0.29);
}*/
div.menuWrap>.menu>.sns{
    float: right; margin: 5px 0;
    overflow: hidden;
}
div.menuWrap>.menu>.sns>input{
    height: 30px;
    border-radius: 20px 0 0 20px;
    width: 30px;
    transition: width 0.5s;
}
div.menuWrap>.menu>.sns>input:focus{
	width: 100px;
    text-indent: 20px;
}
div.menuWrap>.menu>.sns>button{
    height: 30px;
    border-radius: 0 20px 20px 0;
    text-indent: -8px;
}

div.cnt1>.header>ul{
    float: none;
    margin-left: 100px;
}
div.cnt1>.best>.article{
    width: calc(100% / 3 - 10px);
    padding-top: 40px;
}
div.cnt1>.best>.article>.image{
    height: 200px;
}
div.cnt1>.product>.article{
    width: calc(100% / 4 - 10px); 
}
div.cnt1>.product>.article>.image{
    height: 200px;
}
div.cnt1>.product>.article>.segment{
	padding: 0;
}
div.cnt1>.product>.article>.segment>h5{
	width:100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
div.cnt1>.product>.article>.segment>.price>ul{
	width:100%;
	overflow:hidden;
	margin: 0;
}
div.cnt2>.section>.article>.segment>.smallProduct>.header{
    float: left; width: 120px; margin-left: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
div.cnt2>.section>.article>.segment>.reivew>p{
	height: 20px;
    margin-left: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.ftrWrap>.footer>.logo{
	width: 60px; height: 60px;
}
div.ftrWrap>.footer>.nav{
    width: 640px; 
    /*background-color: #ccc;*/
    float: right;
}
div.ftrWrap>.footer>.nav>dl{
	width: calc(100% / 4);
    margin: auto;
}